<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avince</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo">
            <p>Avince</p>
        </div>
        <div class="nav-bar">
            <ul>
                <li><a href="/"><p>About</p></a></li>
                <li><a href="/"><p>Contact</p></a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="wrapper">
            <div class="wrapped teaser">
                <h1>Welcome to Avince</h1>
            </div>
        </div>
    </main>
    <footer class="wrapper">
        <div class="wrapped">
            <p>Based in San Francisco / Costa Brava</p>
        </div>
    </footer>
  
</body>
</html>